In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sales-data/sales.csv

In [2]:
pythonlist =  ['hello',2,3,4]
print(pythonlist)

['hello', 2, 3, 4]

In [3]:
type(pythonlist)

list

so python lists, are like a datatype that can store heterogeneous data , like integers and strings, this is basic python.

now we will use numpy, which is a powerful library that enables you to use mutlidimensional arrays . It allows very efficient use of mathematical operations required for ml algos.

NumPy's most useful feature is n-dimensional array object ( aka ndarray)

In [4]:
import numpy as np

In [5]:
num = np.array([22,33,44,55])
print(num)

[22 33 44 55]

In [6]:
type(num)

numpy.ndarray

now we need to know why even we need to use numpy over simple python lists so here are some of the top features that numpy has to offer:

it uses less memory.
it is faster way faster rather i would say
it is much more convenient to use and understand
you can refer to this link for numpy documentation : https://numpy.org/doc/

https://faculty.washington.edu/otoomet/machinelearning-py/numpy-and-pandas.html - you can also refer to this link for documentation.

In [7]:
import sys
sys.getsizeof(pythonlist[0])

54

In [8]:
num.itemsize

8

you can see here the numpy function only shows the size of the integer data in bytes- i.e 8 bytes for the integer.

In [9]:
import time
import numpy as np

python_list = list(range(1000))

# Calculate mean using pure Python
start_time = time.time()
python_mean = sum(python_list) / len(python_list)
python_time = time.time() - start_time

# Calculate mean using NumPy
numpy_array = np.array(python_list)
start_time = time.time()
numpy_mean = np.mean(numpy_array)
numpy_time = time.time() - start_time

print(f"Python Mean: {python_mean}, Time taken: {python_time:.6f} seconds")
print(f"NumPy Mean: {numpy_mean}, Time taken: {numpy_time:.6f} seconds")

Python Mean: 499.5, Time taken: 0.000077 seconds
NumPy Mean: 499.5, Time taken: 0.000175 seconds

here, the data set is smaller, and python lists seem to be faster than the numpy library , lets experiment this on a larger dataset.

In [10]:
import time
import numpy as np

python_list = list(range(10_000_000))

# Calculate mean using pure Python
start_time = time.time()
python_mean = sum(python_list) / len(python_list)
python_time = time.time() - start_time

# Calculate mean using NumPy
numpy_array = np.array(python_list)
start_time = time.time()
numpy_mean = np.mean(numpy_array)
numpy_time = time.time() - start_time

print(f"Python Mean: {python_mean}, Time taken: {python_time:.6f} seconds")
print(f"NumPy Mean: {numpy_mean}, Time taken: {numpy_time:.6f} seconds")

Python Mean: 4999999.5, Time taken: 0.094644 seconds
NumPy Mean: 4999999.5, Time taken: 0.013343 seconds

now if you see, the numpy library does work way faster than the python lists, hence proving why numpy is more efficient for larger datasets.

In [11]:
b = ([2,3,4,5,6])

Broadcasting is a mechanism that NumPy uses to allow element-wise operations (such as addition, subtraction, multiplication, etc.) on arrays of different shapes, under certain conditions. For broadcasting to work, the shapes of the arrays involved must be compatible according to the following rules:

If the arrays have different numbers of dimensions, the shape of the smaller-dimensional array is padded with ones on its left side. Arrays are compatible if in all dimensions the size of each dimension is either the same, or one of them is 1.

In [12]:
num2 = np.array([2,3,4,6])
num+num2

array([24, 36, 48, 61])

Indexing

In [13]:
print(num[1])

33

In [14]:
print(num[-2])

44

In [15]:
num

array([22, 33, 44, 55])

MULTIDIMENSIONAL ARRAYS

In [16]:
import numpy as np
# Create a 2D array (matrix)
arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print('2D Array :', arr_2d)

2D Array : [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [17]:
import numpy as np

# We can also create arrays using helper functions like:
zeros_matrix = np.zeros((2, 3))
print('Matrix of Zeros: \n', zeros_matrix)
# This function will print a matrix of dimension 2x3, with each value = 0.
print()

ones_matrix = np.ones((3, 3))
print('Matrix of Ones: \n', ones_matrix)
# This function will print a matrix of dimension 3x3, with each value = 1.
print()

random_matrix = np.random.random((3, 3))
print('Random Matrix: \n', random_matrix)
# This function will print a matrix of dimension 3x3, with each value randomly generated.
print()

arr_3d = np.random.randint(1, 10, size=(2, 3, 3))
print('3D Array: \n', arr_3d)
print()
print('Shape of the 3D array: \n', arr_3d.shape)
# If we want to make an n-dimensional array, with each random value in a specific range (for example between 0 to 1 at a space of 10 as shown here)
# The shape of the array is (number of layers, number of rows, number of columns) â€” for example, (2, 3, 3) here.

Matrix of Zeros:
 [[0. 0. 0.]
 [0. 0. 0.]]

Matrix of Ones:
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

Random Matrix:
 [[0.4044116  0.958662   0.44687051]
 [0.65743504 0.83494937 0.16991731]
 [0.76093132 0.19722479 0.69585598]]

3D Array:
 [[[9 6 6]
  [1 9 7]
  [4 1 5]]

 [[4 9 2]
  [9 4 2]
  [4 5 3]]]

Shape of the 3D array:
 (2, 3, 3)

In [18]:
#ACCESSING AN ELEMENT IN A MULTIDIMENSIONAL ARRAY
import numpy as np
element = arr_2d[1, 2] 
print('Element at (1, 2):', element) 
#this accesses the element in the 1st row and 2nd column, considering 0-based indexing.

element_3d = arr_3d[1, 1, 1]
print('Element at (1, 1, 1):', element_3d)
#this accesses the element in the 1st row, 1st column and 1st layer, considering
#0-based indexing.

Element at (1, 2): 6
Element at (1, 1, 1): 4

In [19]:
#PERFORMING OPERATIONS ON ARRAYS


a = np.array([[1, 2, 3], [4, 5, 6]])
b = np.array([[7, 8, 9], [10, 11, 12]])

#addition of 2 arrays 
sum_result = a + b
print('Sum of arrays:\n', sum_result)
print()

# Element-wise multiplication
product_result = a * b
print('Product of arrays:\n', product_result)
print()

# Sum along axis 0 (columns)
column_sum = np.sum(arr_2d, axis=0)
print('Sum of each column:', column_sum)
print()

# Sum along axis 1 (rows)
row_sum = np.sum(arr_2d, axis=1)
print('Sum of each row:', row_sum)

# dot product of A and B.
dot_product_matrix = np.dot(a, b.T)

print("Dot Product:\n", dot_product_matrix)

# transpose of the resulting dot product matrix.
transpose_matrix = dot_product_matrix.T
print("Transpose of Dot Product:\n", transpose_matrix)

Sum of arrays:
 [[ 8 10 12]
 [14 16 18]]

Product of arrays:
 [[ 7 16 27]
 [40 55 72]]

Sum of each column: [12 15 18]

Sum of each row: [ 6 15 24]
Dot Product:
 [[ 50  68]
 [122 167]]
Transpose of Dot Product:
 [[ 50 122]
 [ 68 167]]

In [20]:
#SLICING IN 2-D ARRAYS
import numpy as np

arr_2d = np.array([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9]])

print("Original 2D array:\n", arr_2d)

sub_matrix = arr_2d[0:2, 0:2]
print("Submatrix:\n", sub_matrix)
print()

second_row = arr_2d[1, :]  # prints all columns of row 1
print("Second row:", second_row)
print()

third_column = arr_2d[:, 2]  # Select all rows of column 2
print("Third column:", third_column)

#TRIVIA QUESTION : HOW WILL YOU USE SLICING TO REVERSE THE MATRIX ?

Original 2D array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Submatrix:
 [[1 2]
 [4 5]]

Second row: [4 5 6]

Third column: [3 6 9]

In [21]:
import numpy as np
arr_2d = np.array([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9]])

reversed = arr_2d[::-1, :]
print("Matrix with reversed rows:\n", reversed)
#so, to reverse a matrix , we will use the command "reversed = arr_2d[::-1, :]" because ::-1 reverses
#the rows, while the columns are kept as it is.

Matrix with reversed rows:
 [[7 8 9]
 [4 5 6]
 [1 2 3]]

In [22]:
#SOLVING LINEAR ALGEBRA EQUATIONS : A.x=B
import numpy as np

def solve_linear_system(A, b):
    x = np.linalg.solve(A, b)
    return x
A = np.array([[3, 1], [1, 2]])
b = np.array([9, 8])

x = solve_linear_system(A, b)
print("Solution x:", x)

Solution x: [2. 3.]

In [23]:
#STATISTICAL ANALYSIS USING NUMPY
import numpy as np
M = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
def statistical_operations(M):
    row_means = np.mean(M, axis=1)
    column_std_devs = np.std(M, axis=0)
    matrix_variance = np.var(M)
    matrix_median = np.median(M)

    return row_means, column_std_devs, matrix_variance, matrix_median
row_means, column_std_devs, matrix_variance, matrix_median = statistical_operations(M)
#1. Mean of each row.
print("Mean of each row:", row_means)
#2. Standard deviation of each column.
print("Standard deviation of each column:", column_std_devs)
#3. Variance of the entire matrix.
print("Variance of the entire matrix:", matrix_variance)
#4. Median of the entire matrix.
print("Median of the entire matrix:", matrix_median)
#5. Max and min values in a matrix.
print("max value is : ", np.max(M))
print("min value is : ", np.min(M))

Mean of each row: [2. 5. 8.]
Standard deviation of each column: [2.44948974 2.44948974 2.44948974]
Variance of the entire matrix: 6.666666666666667
Median of the entire matrix: 5.0
max value is :  9
min value is :  1

                                      LEARNING ABOUT PANDAS LIBRARY

Now 1st concern is that what is pandas and why do we need it? 

So basically,like numpy, pandas is also another library of python which is one of the most widely used python libraries in data science. 
It provides high-performance and it is easy to use its structures and data analysis tools.
like in numpy we dealt with mutlidimensional arrays, here we deal with 2D TABLE object which is called DATAFRAME. It is like a SPREADHSEET with column names and row labels.

Some commonly used data structures in pandas are:
Series objects : 1D array, similar to a column in a spreadsheet(created using pd.Series function)
DataFrame objects : 2D table, similar to a spreadsheet(Dataframe can be visualized as dictionaries of Series)
Panel objects : Dictionary of DataFrames, similar to sheet in MS Excel

In [24]:
import pandas as pd

In [25]:
# series objects
series = pd.Series([10, 20, 30, 40, 50])
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [26]:
# dataframe objects
data = {'Name': ['Alice', 'Bob','Iyana'], 'Age': [25, 30,27]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   25
1    Bob   30
2  Iyana   27

You can refer to the following documentation to explore more about pandas https://pandas.pydata.org/docs/user_guide/index.html

In [27]:
df.head(2)  #similarly u can use tail

    Name  Age
0  Alice   25
1    Bob   30

In [28]:
data2 = pd.read_csv('/kaggle/input/sales-data/sales.csv')  #Importing a dataset

In [29]:
data2

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600
5,6,2760,1555,4890,7490,1890,1555,20140,201400
6,7,2980,1120,4780,8980,1780,1120,29550,295500
7,8,3700,1400,5860,9960,2860,1400,36140,361400
8,9,3540,1780,6100,8100,2100,1780,23400,234000
9,10,1990,1890,8300,10300,2300,1890,26670,266700
10,11,2340,2100,7300,13300,2400,2100,41280,412800
11,12,2900,1760,7400,14400,1800,1760,30020,300200

In [30]:
data2.shape

(12, 9)

In [31]:
type(data2)

pandas.core.frame.DataFrame

In [32]:
data2['facewash']  # prints that column

0     1500
1     1200
2     1340
3     1130
4     1740
5     1555
6     1120
7     1400
8     1780
9     1890
10    2100
11    1760
Name: facewash, dtype: int64

In [33]:
data2['facewash'][1]  # gives value at name column and 1 index

1200

In [34]:
type(data2['facewash'])

pandas.core.series.Series

In [35]:
data2.info() 
# it provides concise summary of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month_number  12 non-null     int64
 1   facecream     12 non-null     int64
 2   facewash      12 non-null     int64
 3   toothpaste    12 non-null     int64
 4   bathingsoap   12 non-null     int64
 5   shampoo       12 non-null     int64
 6   moisturizer   12 non-null     int64
 7   total_units   12 non-null     int64
 8   total_profit  12 non-null     int64
dtypes: int64(9)
memory usage: 992.0 bytes

In [36]:
data2.describe()  #  provides a statistical summary

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.00000,12.000000
mean,6.500000,2873.333333,1542.916667,5825.833333,9500.833333,2117.500000,1542.916667,26027.50000,260275.000000
std,3.605551,584.595172,316.733745,1242.032486,2348.095779,617.724931,316.733745,7014.36594,70143.659404
min,1.000000,1990.000000,1120.000000,4550.000000,6100.000000,1200.000000,1120.000000,18330.00000,183300.000000
25%,3.750000,2460.000000,1305.000000,4862.500000,8015.000000,1795.000000,1305.000000,21065.00000,210650.000000
50%,6.500000,2830.000000,1527.500000,5530.000000,9090.000000,1995.000000,1527.500000,22935.00000,229350.000000
75%,9.250000,3435.000000,1765.000000,6400.000000,10045.000000,2325.000000,1765.000000,29667.50000,296675.000000
max,12.000000,3700.000000,2100.000000,8300.000000,14400.000000,3550.000000,2100.000000,41280.00000,412800.000000

In [37]:
data2[['month_number', 'toothpaste', 'shampoo']]

    month_number  toothpaste  shampoo
0              1        5200     1200
1              2        5100     2100
2              3        4550     3550
3              4        5870     1870
4              5        4560     1560
5              6        4890     1890
6              7        4780     1780
7              8        5860     2860
8              9        6100     2100
9             10        8300     2300
10            11        7300     2400
11            12        7400     1800

In [38]:
data2.iloc[0]   # gives data at row index 0

month_number         1
facecream         2500
facewash          1500
toothpaste        5200
bathingsoap       9200
shampoo           1200
moisturizer       1500
total_units      21100
total_profit    211000
Name: 0, dtype: int64

In [39]:
data2.iloc[1:3]  # to select a subset of rows(excluding row index 3)

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700

DEALING WITH DUPLICATES AND MISSING DATA

In [40]:
import pandas as pd
import numpy as np

# Sample DataFrames
dat1 = {
    'id': [1, 2, 3, 4, 5, 6, 7],
    'value': [10, 20, np.nan, 40, 50, np.nan, 70]
}

dat2 = {
    'id': [4, 5, 6, 7, 8],
    'value': [400, 500, 600, 700, 800]
}

# Create DataFrames
df1 = pd.DataFrame(dat1)
df2 = pd.DataFrame(dat2)

# Display the original DataFrames
print("Original DataFrame 1:")
print(df1)
print("\nOriginal DataFrame 2:")
print(df2)

# Handling Missing Values
# 1. Dropping rows with any missing values
df1_dropped = df1.dropna()
print("\nDataFrame 1 after dropping NaN values:")
print(df1_dropped)

# 2. Filling missing values with a specified value (e.g., 0)
df1_filled = df1.fillna(0)
print("\nDataFrame 1 after filling NaN values with 0:")
print(df1_filled)

# Making a copy of the DataFrame
df1_copy = df1.copy()
print("\nCopied DataFrame:")
print(df1_copy)

# Handling Duplicates
# Let's create a duplicate row for demonstration
df1 = pd.concat([df1, df1.iloc[[1]]], ignore_index=True) # Adding a duplicate row
print("\nDataFrame 1 with a duplicate row:")
print(df1)

# Dropping duplicate rows
df1_no_duplicates = df1.drop_duplicates()
print("\nDataFrame 1 after dropping duplicates:")
print(df1_no_duplicates)

# Merging DataFrames
merged_df = pd.merge(df1_no_duplicates, df2, on='id', how='outer', suffixes=('_df1', '_df2'))
print("\nMerged DataFrame:")
print(merged_df)

Original DataFrame 1:
   id  value
0   1   10.0
1   2   20.0
2   3    NaN
3   4   40.0
4   5   50.0
5   6    NaN
6   7   70.0

Original DataFrame 2:
   id  value
0   4    400
1   5    500
2   6    600
3   7    700
4   8    800

DataFrame 1 after dropping NaN values:
   id  value
0   1   10.0
1   2   20.0
3   4   40.0
4   5   50.0
6   7   70.0

DataFrame 1 after filling NaN values with 0:
   id  value
0   1   10.0
1   2   20.0
2   3    0.0
3   4   40.0
4   5   50.0
5   6    0.0
6   7   70.0

Copied DataFrame:
   id  value
0   1   10.0
1   2   20.0
2   3    NaN
3   4   40.0
4   5   50.0
5   6    NaN
6   7   70.0

DataFrame 1 with a duplicate row:
   id  value
0   1   10.0
1   2   20.0
2   3    NaN
3   4   40.0
4   5   50.0
5   6    NaN
6   7   70.0
7   2   20.0

DataFrame 1 after dropping duplicates:
   id  value
0   1   10.0
1   2   20.0
2   3    NaN
3   4   40.0
4   5   50.0
5   6    NaN
6   7   70.0

Merged DataFrame:
   id  value_df1  value_df2
0   1       10.0        NaN
1   2       20.0        NaN
2   3        NaN        NaN
3   4       40.0      400.0
4   5       50.0      500.0
5   6        NaN      600.0
6   7       70.0      700.0
7   8        NaN      800.0